header {
    background-color: black;
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0;
}
body {
    margin: 0;
    padding: 0;
}
h1 {
    margin-left: 2%;
    float: left;
    color: rgb(9, 255, 0);
}
ul {
    float: right;
    margin-right: 20px;
}
li {
    cursor: pointer;
    margin: 10px;
    margin-top: 14px;
    color: white;
    display: inline-block;
}
li:hover {
    color: rgb(170, 114, 10);
    transition: 0.5s;
}
#banner{
    width: 100%;
    /* position: relative; */
}

#banner h2 {
    position: absolute;
    top: 0;
    color: red;
    text-align: center;

}